.Shadow1{text-shadow: 10px 0px 2px red;}
.Shadow2{text-shadow: -10px 0px 2px red;}
.Shadow3{text-shadow: 0px 10px 2px red;}
.Shadow4{text-shadow: 0px -10px 2px red;}
.Shadow5{text-shadow: -5px -5px 4px red;}
.Shadow6{text-shadow: -2px 2px 4px red;}
.shadowbox1, .shadowbox2, .shadowbox3, .shadowbox4, .shadowbox5{
    width: 100px; 
    height: 100px;
    background-color: aqua;
    margin: 20px;
}
.shadowbox1{
    box-shadow: 0px 5px 3px red ;
}
.shadowbox2{ 
    box-shadow: 5px 5px 3px red;
}
.shadowbox3{
    box-shadow: 2px 2px 4px red;
}
.shadowbox4 {box-shadow: 2px 2px 4px red inset;}
.shadowbox5{box-shadow: 0px 0px 5px 10px olive;}
.radiusbox1, .radiusbox2, .radiusbox3, .radiusbox4, .radiusbox5{
    width: 150px;
    height: 150px;
    background-color:chartreuse ;
    margin: 30px;
    padding: 20px;
}
.radiusbox1{border-radius: 20px;}
.radiusbox2{border-radius: 100px / 50px;}
.radiusbox3{border-radius: 30px 10px 50px 20px;}
.radiusbox4{border-radius: 10px 50px;}
.radiusbox5{border-radius: 50% ;}

.something{
    width: 200px;
}
.some1{border-radius: 50px;}
.some2{border-radius: 50%;}
.some3{border-radius: 15px; border: solid pink 5px; padding: 20px;}
.some4{box-shadow: 0px 0px 5px 3px gray; border-radius: 10px;}

img{width: 100%;}
figure img{width:200px;}
figcaption{margin-bottom: 50px;}
.blur1{filter: blur(1px);}
.blur2{filter:blur(5px)}
.blur3{filter: blur(10px);}

/*static and liquid layouts*/
.maincontainer{
    border: solid gray 1px;
    width: 80%; /* 800px for static*/
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    }
.leftcolumn{
    background-color: aliceblue;
    width: 70%; /* 500px for static */
    height: 400px;
}

.section, .article{
    border: darkblue 1px solid;
    height: 200px;
}
.rightcolumn{
    width: 29.8%; /* 298px for static*/
    height: 400px;
    border: solid red 1px;
}
.images{
    width: 100%; /* 800px for static*/
    border: solid green 1px;
}
.cardcontainer{
    width: 800px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width: 40%;
    border-radius: 10px;
    border: solid 2px lightgray;
    overflow: hidden;
    background-color: white;
}
.linkcard{
    text-align: center;
    display: block;
    color:darkblue;
    text-decoration: none;
    padding: 1em;
}
.card:hover{
    box-shadow: 0px 0px 3px 2px gray;
    border: crimson solid 2px;
}
.card:hover .linkcard{
  color: crimson;   
}
.card2{
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    margin: 5% 1%;
    box-shadow: 1px 1px 3px gray;
}
.cardtitle{
    text-align: center;
    color: crimson;
}
.cardinfo{
    padding: 1rem
}
.linkcard2{
    background-color: darkblue;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
.card2:hover{
    box-shadow: 0px 0px 3px 1px;
}
.card2:hover .linkcard2{
    background-color: crimson;
    text-decoration: underline;
}