*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
img{width: 100%; display: block;}
.square_circle{
    width: 100px;
    height: 100px;
    background-color: purple;
    transition: ease-in-out 800ms;
}
.square_circle:hover{
    border-radius: 50%;
    background-color:aqua ;
}
/* zoom effect */
.zoomcontainer, .slidecontainer{
    width: 500px;
    position: relative;
}
.zoomcontent, .slidecontent{
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: rgba(50, 50, 50, 0.7);
    padding-top: 30%;
    text-align: center;
    color: white;
    font-size: 3em;
    transform: scale(0);
    transition: ease-in-out 1s;
}

.zoomcontainer:hover .zoomcontent{
    transform: scale(1);
}
.slidecontent{
    transform: translateX(500px);
}
.slidecontainer{
    overflow: hidden;
}
.slidecontainer:hover .slidecontent{
    transform: translateX(0px);
}
.card, .cardslide{
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 5px black;
    transition: ease-in-out 500ms;
    margin: 30px;
}
.card:hover{
    transform: scale(0.9);
    box-shadow: none;
}
.cardslide:hover{
    transform: translateY(-10px);
    box-shadow: 0px 5px 10px black;
}
